In [41]:
import pandas as pd

In [59]:
u = pd.read_csv("C:/Users/aminah/OneDrive/Desktop/csv/quran_surah.csv")

In [60]:
u.head()

,surah,arabic,latin,english,sajda,ayah,types
0,1,سورة الفاتحة,Al-Fatiha,The Opening,0,7,Makiyah
1,2,سورة البقرة,Al-Baqara,The Cow,0,286,Madaniyah
2,3,سورة آل عمران,Aal-e-Imran,The family of Imran,0,200,Madaniyah
3,4,سورة النساء,An-Nisa,The Women,0,176,Madaniyah
4,5,سورة المائدة,Al-Maeda,The Table Spread,0,120,Madaniyah

In [44]:
u

,id,name,transliteration,translation,type,total_verses,verses
0,1,الفاتحة,Al-Fatihah,The Opener,meccan,7,"[{'id': 1, 'text': 'بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰن..."
1,2,البقرة,Al-Baqarah,The Cow,medinan,286,"[{'id': 1, 'text': 'الٓمٓ', 'translation': 'Al..."
2,3,آل عمران,Ali 'Imran,Family of Imran,medinan,200,"[{'id': 1, 'text': 'الٓمٓ', 'translation': 'Al..."
3,4,النساء,An-Nisa,The Women,medinan,176,"[{'id': 1, 'text': 'يَـٰٓأَيُّهَا ٱلنَّاسُ ٱتّ..."
4,5,المائدة,Al-Ma'idah,The Table Spread,medinan,120,"[{'id': 1, 'text': 'يَـٰٓأَيُّهَا ٱلَّذِينَ ءَ..."
...,...,...,...,...,...,...,...
109,110,النصر,An-Nasr,The Divine Support,medinan,3,"[{'id': 1, 'text': 'إِذَا جَآءَ نَصۡرُ ٱللَّه..."
110,111,المسد,Al-Masad,The Palm Fiber,meccan,5,"[{'id': 1, 'text': 'تَبَّتۡ يَدَآ أَبِي لَهَب..."
111,112,الإخلاص,Al-Ikhlas,The Sincerity,meccan,4,"[{'id': 1, 'text': 'قُلۡ هُوَ ٱللَّهُ أَحَدٌ',..."
112,113,الفلق,Al-Falaq,The Daybreak,meccan,5,"[{'id': 1, 'text': 'قُلۡ أَعُوذُ بِرَبِّ ٱلۡفَ..."
113,114,الناس,An-Nas,Mankind,meccan,6,"[{'id': 1, 'text': 'قُلۡ أَعُوذُ بِرَبِّ ٱلنَّ..."

In [45]:
import psycopg2

In [46]:
conn = psycopg2.connect("host=127.0.0.1 dbname=project user=postgres password=admin port=12345")

In [47]:
cur = conn.cursor()

In [48]:
conn.set_session(autocommit=True)

In [49]:
try: 
    cur.execute("create database quran")
except psycopg2.Error as e:
    print(e)

database "quran" already exists

In [50]:
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)
  
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=project user=postgres password=admin port=12345")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

In [62]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS quran_surah (surah int, arabic int, latin varchar, english varchar, sajda int, ayah int, types varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

Error: Issue import csv
could not open file "C:/Users/aminah/OneDrive/Desktop/csv/quran_surah.csv" for reading: Permission denied
HINT:  COPY FROM instructs the PostgreSQL server process to read a file. You may want a client-side facility such as psql's \copy.